<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TodayExtensionContaining.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>WeatherWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>WordForCopyWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C41548B19888C250050E1CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C4154A119888C250050E1CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C4154B619888FBD0050E1CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CB1AF871988A4C10050A399</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
